<section class="home">
  <div class="rhombus2"></div>
</section>
<div class="container mt-5">
  <h2>Post Property Ad</h2>
  <div class="row">
    <div class="col-md-6" class="form-box">
     
      <form [formGroup]="saleForm" (ngSubmit)="onSubmit()" >
        <div class="mb-3">
          <label for="sellerName" class="form-label">Seller Name</label>
          <input type="text" class="form-control" id="sellerName" formControlName="sellerName" name="sellerName">
        </div>
        <div class="mb-3">
          <label for="towerName" class="form-label">Tower/Building Name</label>
          <input type="text" class="form-control" id="sellerName" formControlName="towerName" name="sellerName">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" formControlName="price" name="price">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" formControlName="address" name="address">
        </div>
        <div class="mb-3">
          <label for="landMark" class="form-label">landMark</label>
          <input type="text" class="form-control" id="address" formControlName="landMark" name="address">
        </div>
        <div class="mb-3">
          <label for="area" class="form-label">Area</label>
          <input type="text" class="form-control" id="area" formControlName="area" name="area">
        </div>
        <div class="mb-3">
          <label for="bhk" class="form-label">BHK</label>
          <input type="text" class="form-control" id="bhk" formControlName="bhk" name="bhk">
        </div>
        <div class="mb-3">
          <label for="furnished" class="form-label">Furnished</label>
          <select class="form-select" id="furnished" formControlName="furnished" name="furnished">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ownerType" class="form-label">Owner Type</label>
          <select class="form-select" id="ownerType" formControlName="ownerType" name="ownerType">
            <option value="Owner">Owner</option>
            <option value="Agent">Agent</option>
            <option value="Builder">Builder</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="purpose" class="form-label">Purpose</label>
          <select class="form-select" id="purpose" formControlName="category" name="purpose">
            <option value="Sell">Sell</option>
            <option value="Rent/lease">Rent/lease</option>
            <option value="List as PG">List as PG</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="floorNo" class="form-label">floorNo</label>
          <input type="text" class="form-control" id="address" formControlName="floorNo" name="address">
        </div>
        <div class="mb-3">
          <label for="totalFloors" class="form-label">totalFloors</label>
          <input type="text" class="form-control" id="address" formControlName="totalFloors" name="address">
        </div>
        <div class="mb-3">
          <label for="parking" class="form-label">Parking</label>
          <input type="text" class="form-control" id="address" formControlName="parking" name="address">
        </div>
        <div class="mb-3">
          <label for="contactNumber" class="form-label">Your contact number</label>
          <div class="input-group">
            <span class="input-group-text">IND +91</span>
            <input type="text" class="form-control" id="contactNumber" formControlName="phoneNo" name="contactNumber">
          </div>
        </div>
        <div class="mb-3">
        
            <label for="images">Select Images</label>
            <input type="file" id="images" (change)="onFileChange($event)" multiple class="form-control">
          
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="col-md-6" style="align-content: center;">
        <img src="assets/images/Ad.png" alt="Property Ad" class="img-fluid">
      </div>
    </div>
    
  </div>
</div>

