<!-- <section class="home">
  <div class="rhombus2"></div>
</section> -->
<div class="container mt-5">
  <h2>Post Property</h2>
  <div class="row">
    <div class="col-md-6" class="form-box">
      <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Seller Name</mat-label>
            <input matInput type="text" formControlName="sellerName" name="sellerName">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Tower/Building Name</mat-label>
            <input matInput type="text" formControlName="towerName" name="towerName">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address" name="address">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>LandMark</mat-label>
            <input matInput type="text" formControlName="landMark" name="landMark">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Town</mat-label>
            <input matInput type="text" formControlName="town" name="town">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>City</mat-label>
            <mat-select formControlName="city" name="city">
              <mat-option value="Mumbai">Mumbai</mat-option>
              <mat-option value="Bangalore">Bangalore</mat-option>
              <mat-option value="Delhi">Delhi</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Carpet Area</mat-label>
            <input matInput type="text" formControlName="carpetArea" name="carpetArea" placeholder="sqft">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <span matTextPrefix>₹&nbsp;</span>
            <input matInput type="number" formControlName="price" name="price">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>BHK</mat-label>
            <input matInput type="text" formControlName="bhk" name="bhk">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Furnished</mat-label>
            <mat-select formControlName="furnished" name="furnished">
              <mat-option value="SemiFurnished">Semi Furnished</mat-option>
              <mat-option value="UnFurnished">UnFurnished</mat-option>
              <mat-option value="Fully Furnished">Fully Furnished</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Owner Type</mat-label>
            <mat-select formControlName="ownerType" name="ownerType">
              <mat-option value="Owner">Owner</mat-option>
              <mat-option value="Agent">Agent</mat-option>
              <mat-option value="Builder">Builder</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Purpose</mat-label>
            <mat-select formControlName="category" name="purpose">
              <mat-option value="Sell">Sell</mat-option>
              <mat-option value="Rent">Rent</mat-option>
              <mat-option value="PG">List as PG</mat-option>
              <mat-option value="Commercial">Commercial</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Floor No</mat-label>
            <input matInput type="text" formControlName="floorNo" name="floorNo">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Total Floors</mat-label>
            <input matInput type="text" formControlName="totalFloors" name="totalFloors">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Parking</mat-label>
            <mat-select formControlName="parking" name="parking">
              <mat-option value="Available">Available</mat-option>
              <mat-option value="Not Available">Not Available</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Construction</mat-label>
            <mat-select formControlName="construction" name="construction">
              <mat-option value="Old">Old</mat-option>
              <mat-option value="New">New</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Your contact number</mat-label>
            <div class="input-group">
              <span class="input-group-text">IND +91</span>
              <input matInput type="text" formControlName="phoneNo" name="contactNumber">
            </div>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card>
      </form>
      <app-message-box [showMessage]="showMessage" [message]="message"></app-message-box>
    </div>
  </div>
</div>
<div class="container">
  <h2>Upload Images</h2>
  <input type="file" (change)="onFileSelected($event)" multiple />
  <button (click)="onUpload()">Upload</button>
  <p>{{ message }}</p>
</div>
