<section class="home">
  <div class="rhombus2"></div>
</section>
<div class="container mt-5">
  <h2>Post Property Ad</h2>
  <div class="row">
    <div class="col-md-6" class="form-box">
     
      <form [formGroup]="saleForm" (ngSubmit)="onSubmit()" >
        <div class="mb-3">
          <label for="sellerName" class="form-label">Seller Name</label>
          <input type="text" class="form-control" id="sellerName" formControlName="sellerName" name="sellerName">
        </div>
        <div class="mb-3">
          <label for="towerName" class="form-label">Tower/Building Name</label>
          <input type="text" class="form-control" id="sellerName" formControlName="towerName" name="sellerName">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" formControlName="price" name="price">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" formControlName="address" name="address">
        </div>
        <div class="mb-3">
          <label for="area" class="form-label">Carpet Area</label>
          <input type="text" class="form-control" id="area" formControlName="carpetArea" name="area" placeholder="sqft">
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" formControlName="city" name="city">
        </div>
        <div class="mb-3">
          <label for="town" class="form-label">Town</label>
          <input type="text" class="form-control" id="town" formControlName="town" name="town">
        </div>
        <div class="mb-3">
          <label for="bhk" class="form-label">BHK</label>
          <input type="text" class="form-control" id="bhk" formControlName="bhk" name="bhk">
        </div>
        <div class="mb-3">
          <label for="furnished" class="form-label">Furnished</label>
          <select class="form-select" id="furnished" formControlName="furnished" name="furnished">
            <option value="SemiFurnished">Semi Furnished</option>
            <option value="UnFurnished">UnFurnished</option>
            <option value="Fully Furnished">Fully Furnished</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ownerType" class="form-label">Owner Type</label>
          <select class="form-select" id="ownerType" formControlName="ownerType" name="ownerType">
            <option value="Owner">Owner</option>
            <option value="Agent">Agent</option>
            <option value="Builder">Builder</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="purpose" class="form-label">Purpose</label>
          <select class="form-select" id="purpose" formControlName="category" name="purpose">
            <option value="Sell">Sell</option>
            <option value="Rent">Rent</option>
            <option value="PG">List as PG</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="floorNo" class="form-label">floorNo</label>
          <input type="text" class="form-control" id="address" formControlName="floorNo" name="address">
        </div>
        <div class="mb-3">
          <label for="totalFloors" class="form-label">totalFloors</label>
          <input type="text" class="form-control" id="address" formControlName="totalFloors" name="address">
        </div>
        <div class="mb-3">
          <label for="parking" class="form-label">Parking</label>
          <select class="form-select" id="ownerType" formControlName="parking" name="parking">
            <option value="Available">Available</option>
            <option value="Not Available">Not Available</option>
          </select>
          </div>
          <div class="mb-3">
            <label for="construction" class="form-label">Construction</label>
            <select class="form-select" id="construction" formControlName="construction" name="construction">
              <option value="Old">Old</option>
              <option value="New">New</option>
            </select>
          </div>
        <div class="mb-3">
          <label for="contactNumber" class="form-label">Your contact number</label>
          <div class="input-group">
            <span class="input-group-text">IND +91</span>
            <input type="text" class="form-control" id="contactNumber" formControlName="phoneNo" name="contactNumber">
          </div>
        </div>
        <!-- <div class="mb-3">
        
            <label for="images">Select Images</label>
            <input type="file" id="images" (change)="onFileChange($event)" multiple class="form-control">
          
          <button type="submit" class="btn btn-primary">Upload</button>
        </div> -->
        <button type="submit"  class="btn btn-primary">Submit</button>
      </form>
      <app-message-box [showMessage]="showMessage" [message]="message"></app-message-box>
      <div class="col-md-6" style="align-content: center;">
        <img src="assets/images/Ad.png" alt="Property Ad" class="img-fluid">
      </div>
    </div>
    
  </div>
</div>

