.container {
    margin-top: 50px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .rhombus2{
    position: absolute;
    width: 80%;
    height: 180%;
    background: #5076ff;
    transform: rotate(45deg);
    z-index: -1;
    right: 50rem;
   
  }
  .form-box {
    border: 1px solid #ddd;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}
