<div class="center-nav">
  <!-- <div class="nav-buttons">
    <button mat-button class="nav-button" [class.active]="selectedButton === 'Rent'" (click)="selectButton('Rent')">Rent</button>
    <button mat-button class="nav-button" [class.active]="selectedButton === 'Commercial'" (click)="selectButton('Commercial')">Commercial</button>
    <button mat-button class="nav-button" [class.active]="selectedButton === 'PG'" (click)="selectButton('PG')">PG</button>
    </div> -->

    <div class="nav-buttons">
      <button mat-button [matMenuTriggerFor]="bhkMenu" class="menu-button">
        <i class="fas fa-home"></i> BHK
        <i class="fas fa-chevron-down arrow-icon"></i>
      </button>
      <mat-menu #bhkMenu="matMenu">
        <button mat-menu-item (click)="onBhkChange(1)" class="menu-item">
          <i class="fas fa-home"></i> 1 BHK
        </button>
        <button mat-menu-item (click)="onBhkChange(2)" class="menu-item">
          <i class="fas fa-building"></i> 2 BHK
        </button>
        <button mat-menu-item (click)="onBhkChange(3)" class="menu-item">
          <i class="fas fa-home"></i> 3 BHK
        </button>
        <button mat-menu-item (click)="onBhkChange(4)" class="menu-item">
          <i class="fas fa-home"></i> 4 BHK
        </button>
      </mat-menu>
      
  
      <button mat-button [matMenuTriggerFor]="furnishingMenu"><i class="fa fa-couch"></i> Furnishing
        <i class="fas fa-chevron-down arrow-icon"></i></button>
  <mat-menu #furnishingMenu="matMenu">
    <button mat-menu-item (click)="onFurnishingChange('SemiFurnished')"><i class="fa fa-couch"></i> Semi Furnished</button>
    <button mat-menu-item (click)="onFurnishingChange('UnFurnished')"><i class="fa fa-bed"></i> Unfurnished</button>
    <button mat-menu-item (click)="onFurnishingChange('Fully Furnished')"><i class="fa fa-tv"></i> Fully Furnished</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="parkingMenu"><i class="fa fa-car"></i> Parking <i class="fas fa-chevron-down arrow-icon"></i></button>
  <mat-menu #parkingMenu="matMenu">
    <button mat-menu-item (click)=" onParkingChange('Available')"><i class="fa fa-car"></i> Available</button>
    <button mat-menu-item (click)=" onParkingChange('Not Available')"><i class="fa fa-ban"></i> Not Available</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="cityMenu">
    <i class="fa fa-city"></i> City <i class="fas fa-chevron-down arrow-icon"></i>
  </button>
  <mat-menu #cityMenu="matMenu">
    <!-- Mumbai Submenu -->
    <button mat-menu-item [matMenuTriggerFor]="mumbaiMenu">
      <i class="fa fa-building"></i> Mumbai
    </button>
    <mat-menu #mumbaiMenu="matMenu">
      <button mat-menu-item (click)="onCityChange('Navi Mumbai')">Navi Mumbai</button>
      <button mat-menu-item (click)="onCityChange('Thane')">Thane</button>
      <button mat-menu-item (click)="onCityChange('Mumbai')">Mumbai City</button>
    </mat-menu>
  
    <!-- Gujarat Submenu -->
    <button mat-menu-item [matMenuTriggerFor]="gujaratMenu">
      <i class="fa fa-warehouse"></i> Gujarat
    </button>
    <mat-menu #gujaratMenu="matMenu">
      <button mat-menu-item (click)="onCityChange('Surat')">Surat</button>
      <button mat-menu-item (click)="onCityChange('Ahmedabad')">Ahmedabad</button>
    </mat-menu>
  
    <!-- Delhi Submenu -->
    <button mat-menu-item [matMenuTriggerFor]="delhiMenu">
      <i class="fa fa-landmark"></i> Delhi
    </button>
    <mat-menu #delhiMenu="matMenu">
      <button mat-menu-item (click)="onCityChange('Noida')">Noida</button>
    </mat-menu>
  
    <!-- Bangalore -->
    <button mat-menu-item (click)="onCityChange('Bangalore')">
      <i class="fa fa-industry"></i> Bangalore
    </button>
  
    <!-- Chennai -->
    <button mat-menu-item (click)="onCityChange('Chennai')">
      <i class="fa fa-street-view"></i> Chennai
    </button>
  </mat-menu>
  
  
  
      
      
    </div>
</div>


<div>
  <ul style="list-style-type: none;">
    <div *ngIf="filteredHomes.length<0">No homes Available</div>
    <div *ngIf="filteredHomes.length>0">
    <li *ngFor="let home of filteredHomes">
      <div class="property-card">
        <h3 style="padding: 2%; font-weight: 500;">{{home.ownerType}}: <span>{{home.sellerName}}</span><br/>
          <span>Apartment Name: {{home.towerName}}</span>
        </h3>
        
          <div *ngIf="home.images && home.images.length > 0; else noImages">
            <div class="image-grid">
              <div class="image-item" *ngFor="let image of home.images; let i = index">
                <div class="image-box">
                  <img [src]="'data:image/jpeg;base64,' + image.data" class="d-block w-100" alt="Image {{ i + 1 }}">
                </div>
              </div>
            </div>
          </div>
          <ng-template #noImages>
            <p>No images found for seller {{home.sellerName}}</p>
          </ng-template>
        
        <div class="property-info">
          <div class="property-price">
            <span>₹ {{home.price}}</span>
            <div class="example-button-container">
              <button
                mat-fab
                [ngClass]="{ 'liked': home.isLiked }"
                aria-label="Example icon button with a heart icon"
                (click)="toggleLike(home)"
              >
                <mat-icon>{{ home.isLiked ? 'favorite' : 'favorite_border' }}</mat-icon>
              </button>
            </div>
          </div>
          <div class="property-details">
            <span style="font-weight: bold;">{{home.category}}</span>
            <div class="grid-container">
              <div class="grid-item"><i class="fas fa-building"></i>{{home.towerName}}</div>
              <div class="grid-item">  <img src="assets/images/address.png" alt="Carpet Area Icon" style="width: 24px; height: 24px;"> {{home.address}}</div>
              <div class="grid-item"><i class="fas fa-landmark"></i>{{home.landMark}}</div>
              <div class="grid-item"> <img src="assets/images/cityscape.png" alt="Carpet Area Icon" style="width: 24px; height: 24px;"> {{home.town}}</div>
              <div class="grid-item"><img src="assets/images/management.png" alt="Carpet Area Icon" style="width: 24px; height: 24px;"> {{home.city}}</div>
              <div class="grid-item"><div class="grid-items">
                <img src="assets/images/area-graph.png" alt="Carpet Area Icon" style="width: 24px; height: 24px;">
                {{home.carpetArea}} sqft
              </div></div>
              <div class="grid-item"><i class="fas fa-bed"></i>{{home.bhk}} BHK</div>
              <div class="grid-item"><i class="fas fa-couch"></i>{{home.furnished}}</div>
              <div class="grid-item"><i class="fas fa-building"></i>{{home.floorNo}} Out Of {{home.totalFloors}} floor</div>
              <div class="grid-item"><i class="fas fa-car"></i>Parking {{home.parking}}</div>
              <div class="grid-item"><i class="fas fa-phone"></i>{{home.phoneNo}}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    </div>
  </ul>
  
</div>

