<section class="home">
    <div>
      <p style="font-weight: bold; font-size: large;">The Leading Real Estate Rental Marketplace.</p>
      <p>Over 39,000 people work for us in more than 70 countries all over the countries. 
        <br>This breadth of global coverage, combined with specialist services</p>
        <div class="contact-box">
          <a target="_blank" href="#" class="item">Join Us</a></div>
       </div>
    <div class="home-img">
      <div class="rhombus">
        <img src="assets/image/img7.png" alt="">
      </div>
  </div>

  <div class="rhombus2"></div>
</section>