.property-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    cursor: pointer;
    margin: 2rem;
  }
  
  .property-card:hover {
    transform: translateY(-5px);
  }
  
  .property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .property-info {
    padding: 16px;
  }
  
  .property-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .property-price span {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #e74c3c;
  }
  
  .favorite-btn:hover {
    color: #c0392b;
  }
  
  .property-details span {
    display: block;
    margin-bottom: 4px;
    color: #777;
  }
  /* app.component.css */
  .property-list {
    display: flexbox;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  .grid-container {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: auto auto auto;
    background-color: #fcfcfc;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
   
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }
  .grid-item i{
    padding: 5px;
  }
  
  
  .center-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #5f2dc4;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .nav-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-button.active,
  .nav-button:hover {
    background-color: white;
    color: #5f2dc4;
  }
  
  .search-bar {
    display: flex;
    width: 50%;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
  }
  
  .city-dropdown {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .tags {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .tag {
    background-color: #6f39d4;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
  }
  
  .add-tag {
    color: #00d4ff;
    cursor: pointer;
  }
  
  .search-button {
    background-color: #00d4ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  