<div class="container">
    <header>
      <div class="logo-container">
        <img src="assets/images/home.jpg" alt="Zoopla Logo" class="logo">
        <div class="logo-name">RentNest</div>
    </div>
      <nav>
        <button mat-button style="color: rgb(58, 58, 58);"(click)="onForSale()">For sale</button>
        <button mat-button style="color: rgb(59, 59, 59);" (click)="onRent()">To rent</button>
        <button mat-button style="color: rgb(59, 59, 59);" (click)="newProperties()" >New Constructions</button>
        <button mat-button style="color: rgb(58, 58, 58);"  (click)="onSale()">Post Property</button>
      </nav>
      <button mat-raised-button color="primary" class="sign-in" style="background-color:#1743e3;" *ngIf="!afterLogin" (click)="OnLogin()">Sign In</button>
	    <button mat-raised-button color="primary" class="sign-in" style="background-color:#1743e3;" *ngIf="afterLogin" (click)="onLogOut">LogOut</button>
      <button mat-button  *ngIf="afterLogin"  (click)="savedAds()">👤</button>
      
	</header>
    <main>
      <app-homepage>
          
      </app-homepage>
    </main>
  </div>
