<div class="center-nav">
  <div class="nav-buttons">
    <button mat-button class="nav-button" [class.active]="selectedButton === 'Rent'" (click)="selectButton('Rent')">Rent</button>
    <button mat-button class="nav-button" [class.active]="selectedButton === 'Commercial'" (click)="selectButton('Commercial')">Commercial</button>
    <button mat-button class="nav-button" [class.active]="selectedButton === 'PG'" (click)="selectButton('PG')">PG</button>
    </div>

  <div class="nav-buttons">
    <mat-form-field appearance="fill">
      <mat-label>BHK</mat-label>
      <mat-select [(ngModel)]="selectedBhk" (selectionChange)="onBhkChange()">
        <mat-option [value]="1">1 BHK</mat-option>
        <mat-option [value]="2">2 BHK</mat-option>
        <mat-option [value]="3">3 BHK</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Furnishing</mat-label>
      <mat-select [(ngModel)]="furnishing" (selectionChange)="onFurnishingChange()">
        <mat-option value="SemiFurnished">Semi Furnished</mat-option>
        <mat-option value="UnFurnished">Unfurnished</mat-option>
        <mat-option value="FullyFurnished">Fully Furnished</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Parking</mat-label>
      <mat-select [(ngModel)]="parking" (selectionChange)="onParkingChange()">
        <mat-option value="Available">Available</mat-option>
        <mat-option value="NotAvailable">Not Available</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select [(ngModel)]="city" (selectionChange)="onCityChange()">
        <mat-option value="Mumbai">Mumbai</mat-option>
        <mat-option value="Delhi">Delhi</mat-option>
        <mat-option value="Bangalore">Bangalore</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div >
<ul style="list-style-type: none;">
  <li *ngFor="let home of homes">
    <div class="property-card">
      <h3 style="padding: 2%; font-weight: 500;">{{home.ownerType}}: <span>{{home.sellerName}}</span><br/>
        <span>Apartment Name: {{home.towerName}}</span>
      </h3>
      <img src="assets/image/img1.jpg" alt="Property Image" class="property-image">
      <div class="property-info">
        <div class="property-price">
          <span>₹ {{home.price}}/monthly</span>
          <div class="example-button-container">
            <button mat-fab [class.liked]="isLiked" aria-label="Example icon button with a heart icon" (click)="toggleLike()">
              <mat-icon>{{ isLiked ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
          </div>
          
        </div>
        <div class="property-details">
          <span style="font-weight: bold;">{{home.category}}</span>
          <div class="grid-container">
            <div class="grid-item"><i class="fas fa-building"></i>{{home.towerName}}</div>
            <div class="grid-item"><i class="fa fa-address-card" aria-hidden="true"></i>{{home.address}}</div>
            <div class="grid-item"><i class="fas fa-landmark"></i>{{home.landMark}}</div>
            <div class="grid-item"><i class="fas fa-map-pin"></i>{{home.city}}</div>
            <div class="grid-item"><i class="fas fa-ruler"></i>{{home.carpetArea}}sqft</div>
            <div class="grid-item"><i class="fas fa-bed"></i>{{home.bhk}} BHK</div>
            <div class="grid-item"><i class="fas fa-couch"></i>{{home.furnished}}</div>
            <div class="grid-item"><i class="fas fa-building"></i>{{home.floorNo}} Out Of {{home.totalFloors}} floor</div>
            <div class="grid-item"><i class="fas fa-car"></i>Parking {{home.parking}}</div>
            <div class="grid-item"><i class="fas fa-phone"></i>{{home.phoneNo}}</div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>

