<div class="center-nav">
  <div class="nav-buttons">
    <button class="nav-button" [class.active]="selectedButton === 'Rent'">Rent</button>
    <button class="nav-button" [class.active]="selectedButton === 'Commercial'">Commercial</button>
    <button class="nav-button" [class.active]="selectedButton === 'PG'" >PG</button>
  </div>
  
  <div class="nav-buttons">
    <select class="city-dropdown" [(ngModel)]=" selectedBhk" (change)="onBhkChange()">
      <option class="city-dropdown" [ngValue]="1">1 BHK</option>
      <option [ngValue]="2">2 BHK</option>
      <option [ngValue]="3">3 BHK</option>
    </select>
    <select class="city-dropdown" [(ngModel)]="furnishing" (change)="onFurnishingChange()">
      <option value="SemiFurnished">Semi Furnished</option>
      <option value="UnFurnished">Unfurnished</option>
      <option value="FullyFurnished">Fully Furnished</option>
    </select>
    <select class="city-dropdown" [(ngModel)]="parking" (change)="onParkingChange()" >
      <option value="Available">Available</option>
      <option value="NotAvailable">Not Available</option>
    </select>
    <select class="city-dropdown" [(ngModel)]="city" (change)="onCityChange()" >
      <option value="Mumbai">Mumbai</option>
      <option value="Delhi">Delhi</option>
      <option value="Bangalore">Bangalore</option>
    </select>
  </div>
</div>

<div >
<ul style="list-style-type: none;">
  <li *ngFor="let home of homes">
    <div class="property-card">
      <h3 style="padding: 10px; font-weight: bold;">{{home.sellerName}}<br/>
        <span>{{home.towerName}}</span>
      </h3>
      <img src="assets/image/img1.jpg" alt="Property Image" class="property-image">
      <div class="property-info">
        <div class="property-price">
          <span>Rs. {{home.price}}/monthly</span>
          <button class="favorite-btn">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </button>
        </div>
        <div class="property-details">
          <span style="font-weight: bold;">{{home.category}}</span>
          <div class="grid-container">
            <div class="grid-item"><i class="fas fa-building"></i>{{home.towerName}}</div>
            <div class="grid-item"><i class="fa fa-address-card" aria-hidden="true"></i>{{home.address}}</div>
            <div class="grid-item"><i class="fas fa-landmark"></i>{{home.landMark}}</div>
            <div class="grid-item"><i class="fas fa-map-pin"></i>{{home.city}}</div>
            <div class="grid-item"><i class="fas fa-ruler"></i>{{home.carpetArea}}sqft</div>
            <div class="grid-item"><i class="fas fa-bed"></i>{{home.bhk}}</div>
            <div class="grid-item"><i class="fas fa-couch"></i>{{home.furnished}}</div>
            <div class="grid-item"><i class="fas fa-building"></i>{{home.floorNo}} of {{home.totalFloors}} floor</div>
            <div class="grid-item"><i class="fas fa-car"></i>Parking {{home.parking}}</div>
            <div class="grid-item"><i class="fas fa-phone"></i>{{home.phoneNo}}</div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>

