   
  <app-header></app-header>
  
    <app-homepage>
        
    </app-homepage>
 
  <app-silder></app-silder>
  
  <section class="info-section">
    <div class="info-card">
      <mat-icon>money</mat-icon>
      <h4 style="font-weight:600;">Save time and money</h4>
      <p>Estimate your monthly payments accurately, allowing you to plan your budget effectively and avoid taking on a mortgage</p>
    </div>
    <div class="info-card">
      <mat-icon>info</mat-icon>
      <h4 style="font-weight: 600;">Make informed decisions</h4>
      <p>Compare different loan options by adjusting variables such as loan amount, interest rate, and loan term</p>
    </div>
    <div class="info-card">
      <mat-icon>account_balance</mat-icon>
      <h4 style="font-weight: 600;">Gain financial confidence</h4>
      <p>By understanding how different factors impact your monthly payments, you can ensure that you’re choosing a mortgage</p>
    </div>
  </section>

<app-sectionanimation></app-sectionanimation>

  <h1 style="font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.5rem;
  font-weight: 400;
   padding: 2rem; 
  color: #3f3f3f;
  text-align: center;">FOLLOW US ON SOCIAL MEDIA</h1>
   <div class="social-menu">
    <ul>
        <li><a href="#" target="blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook" target="blank"></i></a></li>
    </ul>
</div>



